.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 32rem;
    height: 20rem;
    padding: 20px;
    background: linear-gradient(60deg, #4D1D84, #B84BFE);
    transform: perspective(1000px);
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.20),
                0 15px 12px rgba(0, 0, 0, 0.15);
    transition: all 250ms ease-out;
}

.container h1, p, h3{
    color: #fff;
    font-family: poppins;
    text-shadow: 0 0 22px rgba(0, 0,0,0.6);
    transform: translateZ(40px)
}

.container h1{
    font-size: 2rem;
    font-weight: 600;
}

.container h3{
    font-size: 1.3rem;
    font-weight: 600;
}

.user-data {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}


.user-data .name{
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: .5rem;
}

.user-data div p {
    font-size: .8rem;
}

.container .sim-card{
    display: inline-flex;
    position: absolute;
    top: 10.5rem;
    left: 3rem;
    align-items: center;
    justify-content: space-between;
}

.icon-sim{
    width: 3rem;
    height: 2rem;
    background: linear-gradient(80deg,#F9C937, #FABB14);
    border-radius: 5px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.4);
    transform: translateZ(40px);
    margin-right: 1.3rem;
}

.icon-wireless {
    width: 1.5rem;
    height: 1.5rem;
    background: url(/Card3D/icons/wifi.svg) no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(90deg) translateZ(40px);
}

.circle {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.circle span{
    display: inline-flex;
    width: 1rem;
    height: 0.3rem;
    margin: 0 0.1rem;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
    transform: translateZ(40px);
}